<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">

<head>
<style>

</style>
</head>

<body>
      <div th:fragment="base" th:remove="tag">
            <footer class="bg-light text-dark" style="background: linear-gradient(180deg, #B0B0B0 0%, rgba(217, 217, 217, 0) 44.27%, #F1F1F1 88.02%); margin-top: auto">
            <div class="pic text-center" >
      		<img src="../static/images/logo.png" th:src="@{/images/logo.png}" style="height:auto; width:110px;" />
      		</div>
      			<div style="margin:0; padding:0;">
                  <p class="footer text-center" style="margin-left: auto; margin-right: auto; margin-bottom:0 px; margin-bottom:0;">
                        United Together Bank Ltd. is a banking corporation where you will find the 
                        easy but most secure way to transact money to other user. <br> In UTB, we treat 
                        every user as our VVIP
                  </p>
                  </div>
                  <!-- Grid container -->
                  <div class="container pb-0 text-center" style="padding-bottom:0; margin-bottom:0; margin-left:auto; margin-right:auto;">
                    <!-- Section: Social media -->
                    
      <section style="margin:0 px">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        style="padding:10 px;"
        ><i class="fab fa-facebook fa-lg"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        style="padding:10 px;"
        ><i class="fab fa-google fa-lg"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        style="padding:10 px;"
        ><i class="fab fa-instagram fa-lg"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        style="padding:10 px;"
        ><i class="fab fa-linkedin fa-lg" ></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        style="padding:10 px;"
        ><i class="fab fa-github fa-lg"></i
      ></a>
    </section>
    <!-- Section: Social media -->
    </div>
                  
                  
     <!-- Grid container -->

      <!-- Copyright -->
      <div style="padding:0; margin:0; text-align:center; margin-bottom:8px;">
      <span >© 2022 Copyright:</span>
      <a href="#">utbgroup.com</a>
      </div>
      <!-- Copyright -->
      </footer>
      </div>
      
     
</body>
<th:block th:replace="components/scripts :: base"></th:block>
</html>
