<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>

<th:block th:replace="components/links :: base"></th:block>
</head>
<body>
  <div th:fragment="base" th:remove="tag">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 0.1rem 0.1rem;">
    <a class="navbar-brand" href="#"><img src="../static/images/logorembg.png" th:src="@{/images/logorembg.png}" style="height:auto; width:120px; padding-top: 0rem; padding-bottom: 0rem;"/></a>
 
   <button class="navbar-toggler" 
       type="button" 
       data-toggle="collapse" 
       data-target="#navbarNav" 
       aria-controls="navbarNav" 
       aria-expanded="false" 
       aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
      <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav ml-auto" >
          <li th:class="'nav-item '+ ${isCurrentPage=='Customer'?'active':''}">
            <a class="nav-link" href="#">Customer<span class="sr-only">(current)</span></a>
          </li>
          <li th:class="'nav-item '+ ${isCurrentPage=='Account'?'active':''}">
            <a class="nav-link" href="#">Account</a>
          </li>
          <li th:class="'nav-item '+ ${isCurrentPage=='Product'?'active':''}">
            <a class="nav-link" href="#">Product</a>
          </li>
          <li th:class="'nav-item '+ ${isCurrentPage=='Logout'?'active':''}">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<th:block th:replace="components/scripts :: base"></th:block>
</body>
