<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Account Type</title>
</head>
<body>
	<h2>Add Account</h2>

	<form th:action="@{/products/add}" th:object="${ac}" method="post">
		<input type="text" id="id" name="id" th:field="*{id}" hidden>
		<label for="name">Name:</label><br>
		<input type="text" id="name" name="name" th:field="*{name}" required><br>
		<p th:error="*{name}" th:if="${#fields.hasErrors('name')}"></p>
		<label for="interestRate">Interest Rate:</label><br>
		<input type="text" id="interestRate" name="interestRate" th:field="*{interestRate}" required><br><br>
		<input type="submit" value="Submit">
		<p th:error="*{interestRate}" th:if="${#fields.hasErrors('interestRate')}"></p>
	</form>
</body>
</html>