<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction History</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/transactionHistory.css}" />
  </head>

  <body>
    <!-- Alert box conditional check -->
    <!-- <div th:if="${error}">
        <th:block th:replace="components/alert :: danger (message='hi')"></th:block>
      </div>
    </div>

    <div th:if="${!error && !isFirstStart}">
      <th:block th:replace="components/alert :: success"></th:block>
    </div> -->

    <div class="alignment">
      <h2>Transaction History</h2>
      <h2 th:text="${currentBalance}"></h2>

      <!-- Button for Deposit -->
      <form style="display: inline" action="deposit">
        <input
          type="hidden"
          th:name="accountNumber"
          th:value="${accountNumber}"
        />
        <input type="text" th:name="amount" />
        <input type="submit" value="transfer" />
      </form>

      <!-- Button for Withdrawal -->
      <form style="display: inline" action="withdraw">
        <input
          type="hidden"
          th:name="accountNumber"
          th:value="${accountNumber}"
        />
        <input type="number" th:name="amount" />
        <input type="submit" value="withdraw" />
      </form>

      <div>
        <input
          class="form-control"
          style="width: 15rem; margin-top: 2rem; margin-bottom: 1rem"
          id="myInput"
          type="text"
          placeholder="Search Past Records.."
        />
      </div>

      <table class="table table-bordered table-striped">
        <thead class="table-header">
          <tr>
            <th>Date/Time</th>
            <th>Account ID</th>
            <th>Transaction Amount</th>
            <th>Description</th>
            <th>Transaction Id</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr th:each="trans: ${transactionList}">
            <!--/ Note that the cust is a local variable I ownself name one, ie: temp variable to loop through /-->

            <td th:text="${trans.getTime}"></td>
            <td th:text="${trans.getAccount.getAccountNumber}"></td>
            <td th:text="${trans.getAmount}"></td>
            <td th:text="${trans.getDescription}"></td>
            <td th:text="${trans.getId}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"
  ></script>

  <!-- Search Filter -->
  <script>
    $(document).ready(function () {
      $('#myInput').on('keyup', function () {
        var value = $(this).val().toLowerCase()
        $('#myTable tr').filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        })
      })
    })
  </script>
</html>

<!-- 
<form th:action="trnf" >
    <input type="text" name="asd">
    <input type="text" name="accountNum">
    <input type="submit" value="submit">
</form> -->
