<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="components/scripts :: base"></th:block>
	<div th:replace="components/links :: base"></div>
    <meta charset="UTF-8" />
    <title>Accounts</title>
</head>

<body>
	<div th:replace="components/nav :: base(isCurrentPage='Account')"></div>
    <div class="alignment">
        <h1>Accounts</h1>
        <div class="card accounts">
            <strong class="card-header">Find Customer</strong>
            <form th:action="@{/accounts}" class="card-body">
                <div class="form-group row">
                    <label for="name" class="col col-form-label">Name</label>
                    <div class="col-sm-4">
                        <input type="text" id="name" name="name" th:value="${name}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nric" class="col col-form-label">NRIC (last 4 characters)</label>
                    <div class="col-sm-4">
                        <input type="text" id="nric" name="nric" maxlength="4" th:value="${secretNric}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="birthDate" class="col col-form-label">Date Of Birth</label>
                    <div class="col-sm-4">
                        <input type="date" id="birthDate" name="birthDate" th:value="${birthDate}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col"></div>
                    <div class="col-sm-4">
                        <input type="submit" value="Search" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
        <div class="card accounts">
            <strong class="card-header">Customer Profile</strong>
            <div th:if="${customer}" class="card-body">
                <div class="row">
                    <strong class="col-sm-2">Name</strong><span class="col-sm-10" th:text="${customer.name}"></span>
                </div>
                <div class="row">
                    <strong class="col-sm-2">NRIC</strong><span class="col-sm-10" th:text="'****' + *{secretNric}"></span>
                </div>
                <div class="row">
                    <strong class="col-sm-2">Gender</strong><span class="col-sm-10" th:text="*{customer.gender}"></span>
                </div>
            </div>
            <div th:unless="${customer}" class="card-body">
                <p>No Customer Selected</p>
            </div>
        </div>
        <div class="table-title row">
            <h2 class="table-title-label col">Customer Accounts</h2>
            <button type="button" class="btn btn-primary">Add Account</button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-header">
                    <tr>
                        <th>Account Id</th>
                        <th>Type</th>
                        <th>Balance</th>
                        <th>Start Date</th>
                        <th>Expiry Date</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="account : ${accounts}">
                        <tr>
                            <td><a th:href="@{/transactions/{accountNumber}(accountNumber=${account.accountNumber})}" th:text="${account.accountNumber}"></a></td>
                            <td th:text="${account.accountType.name}"></td>
                            <td th:text="${account.balance}"></td>
                            <td th:text="${'Start'}"></td>
                            <td th:text="${'End'}"></td>
                            <td class="table-options">
                                <div class="row">
                                    <!-- Can use anchor or button -->
                                    <a href="#" class="btn btn-primary" role="button">Close</a>
                                    <a href="#" class="btn btn-primary" role="button">Renew</a>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    <th:block th:if="${#lists.isEmpty(accounts)}">
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <th:block th:unless="${#lists.isEmpty(accounts)}">
            <th:block th:replace="components/pagination :: base(num=${customer.id})"></th:block>
        </th:block>
    </div>
    <div th:replace="components/footer :: base"></div>
</body>

</html>