<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<th:block th:replace="components/scripts :: base"></th:block>
	<div th:replace="components/links :: base"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<div th:replace="components/nav :: base(isCurrentPage='Customer')"></div>
<div>
    <h2>Create New Customer:</h2>
    <hr/>
    <div>
        <form method="post" th:action="@{/customer/create}" th:object="${customer}">
            <table>
                <tbody>
                <tr>
                    <td><span>Name:</span></td>
                    <td><input size="42" th:field="*{name}" type="text"/></td>
                    <td><span style="color:red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
                </tr>
                <tr>
                    <td><span>NRIC:</span></td>
                    <td><input size="42" th:field="*{nric}" type="text"/></td>
                    <td><span style="color:red" th:errors="*{nric}" th:if="${#fields.hasErrors('nric')}"></span>
                </tr>
                <tr>
                    <td><span>Email:</span></td>
                    <td><input size="42" th:field="*{emailAddress}" type="text"/></td>
                    <td><span style="color:red" th:errors="*{emailAddress}"
                              th:if="${#fields.hasErrors('emailAddress')}"></span>
                </tr>
                <tr>
                    <td><span>Age:</span></td>
                    <td><input size="42" th:field="*{age}" type="number" min=18/></td>
                    <td><span style="color:red" th:errors="*{age}" th:if="${#fields.hasErrors('age')}"></span>
                </tr>
                <tr>
                    <td><span>Gender:</span>
                    <td>
                        <select name="gender">
                            <option th:each="genderOpt : ${T(com.example.project.model.Gender).values()}"
                                    th:value="${genderOpt}" th:text="${genderOpt}"></option>
                        </select>
                </tr>
                <tr>
                    <td><span>Birth:</span></td>
                    <td><input size="42" th:field="${customer.birthDate}" type="date"/></td>
                    <td><span style="color:red" th:errors="*{birthDate}"
                              th:if="${#fields.hasErrors('birthDate')}"></span>
                </tr>
                <tr>
                    <td><span>Phone:</span></td>
                    <td><input size="42" th:field="*{phone}" type="text"/></td>
                    <td><span style="color:red" th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}"></span>
                </tr>
                <tr>
                    <td><span>Address:</span></td>
                    <td><input size="42" th:field="*{address}" type="text"/></td>
                    <td><span style="color:red" th:errors="*{address}" th:if="${#fields.hasErrors('address')}"></span>
                    </td>
                </tr>
                <tr>
                    <td><span>Nominee NRIC (optional):</span></td>
                    <td><input size="42" th:field="*{nomineeNric}" type="text"/></td>
                </tr>

                <tr>
                    <td><span>Nominee Name (optional):</span></td>
                    <td><input size="42" th:field="*{nomineeName}" type="text"/></td>
                </tr>
                </tbody>
            </table>
            <div th:object="${account}">
                <table>
                    <tbody>
                    <tr>
                        <td><span>Account Type (Pick the option if you want to open an account now):</span></td>
                        <td><input th:field="${account.type}" type="radio" value="Fixed Deposit"/> Fixed Deposit
                        </td>
                        <td><input th:field="${account.type}" type="radio" value="Recurring Deposit"/> Recurring Deposit
                        </td>
                    </tr>
                    <tr>
                        <td><span>Initial Deposit:</span></td>
                        <td><input size="22" th:field="${account.initialBalance}" type="number"/></td>
                    </tr>
                    <tr>
                        <td><input class="blcass" type="submit" value="Create"/></td>
                        <td></td>
                        <td><input class="blcass" type="reset" value="Reset"/></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
<div th:replace="components/footer :: base"></div>
</body>
</html>