<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="cutomer_edit_modal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <form method="post" th:action="@{/customer/edit}" th:object="${customer}">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Customer Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label for="id" class="col-form-label">Customer ID: </label>
                        <input type="number" class="form-control" id="id" value="" name="id" readonly th:field="*{id}">
                </div>

                <br>

                <div class="mb-3">
                    <label for="name" class="col-form-label">Name: </label>
                        <input type="text" class="form-control" id="name" value="" name="name" th:field="*{name}" required>
                </div>

                <br>
                <div class="mb-3">
                    <label for="nric" class="col-form-label">NRIC: </label>
                        <input th:field="*{nric}" type="text" maxlength="9" placeholder="eg.S12345678" id="nric" value="" name="nric" required>
                </div>
                <br>

                <div class="mb-3">
                    <label for="age" class="col-sm-2 col-form-label">Age:</label>
                        <input type="number" class="form-control" value="18" required id="age" name="age" min=18 th:field="*{age} ">
                </div>
                <br>

                <div class="mb-3">
                <label for="gender" class="col-form-label">Gender:</label>
                <label>
                    <select name="gender">
                        <option th:each="genderOpt : ${T(com.example.project.model.Gender).values()}"
                                th:value="${genderOpt}" th:text="${genderOpt}" id="gender" name="gender"></option>
                    </select>
                </label>
                </div>
                <br>

                <div class="mb-3">
                    <label for="birthday" class="col-form-label">Date of Birth: </label>
                        <input type="date" required class="birthday" id="birth" name="birth" th:field="${customer.birthDate}">
                </div>
                <br>

                <div class="mb-3">
                    <label for="email" class="col-form-label">Email Address: </label>
                        <input type="email" class="form-control" id="email" name="email" required placeholder="example@email.com" th:field="*{emailAddress}" >
                </div>
                <br>

                <div class="mb-3">
                    <label for="tel" class="col-form-label">Phone number: </label>
                        <input th:field="*{phone}" type="text" maxlength="8" required placeholder="eg.82446057" id="phone" name="phone">
                </div>
                <br>

                <div class="mb-3">
                    <label for="address" class="col-form-label">Address: </label>
                        <input type="text" th:field="*{address}" class="form-control" id="address" required name="address" placeholder="Enter your local address">
                </div>
                <br>
                <div class="mb-3">
                    <label for="nomname" class="col-form-label">Nominee Name: </label>
                        <input type="name" th:field="*{nomineeName}" class="form-control" id="nomineeName" name="nomineeName" placeholder="Input Name Here" >
                </div>
                <br>

                <div class="mb-3">
                    <label for="nomineeNRIC" class="col-form-label">Nominee NRIC: </label>
                        <input th:field="*{nomineeNric}" type="text" id="nomineeNric" name="nomineeNric">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </form>
    </div>
</div>

</body>
</html>