<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <th:block th:replace="components/scripts :: base"></th:block>
	<div th:replace="components/links :: base"></div>
</head>
<body>
<img th:src="@{~/images/background1.png}" id="background">
<div class="container-fluid text-center">
    <div>
       <img class="img-fluid" th:src="@{~/images/logo.png}" style="width:150px; height:150px" />
    </div>
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto" class="mt-5">
     
        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
         
        <div th:if="${param.logout}">
            <p class="text-warning">You have been logged out.</p>
        </div>
         
        <div class="border border-secondary p-3 rounded border-gray">
    
            <h3>Welcome</h3>
            <p>
                <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required />
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-success col-6 mx-auto" />
            </p>
        </div>
    </form>      
</div>

<th:block th:replace="components/scripts :: base"></th:block>
</body>
</html>