<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction Page</title>
  </head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
  <!-- 
    Date and Time
    Deposit
      Account ID
      Name
      Amount
    Withdrawal
      Account ID
      Name
      Amount
   -->
  <body>
    <h1>Transaction Page</h1>
    <table>
      <thead>
        <tr>
          <th rowspan="2">Date/Time</th>
          <th colspan="3">Sender</th>
          <th colspan="4">Receipent</th>
        </tr>
        <tr>
          <th>Account ID</th>
          <th>Name</th>
          <th>Amount</th>

          <th>Account ID</th>
          <th>Name</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="rec: ${recordList}">
          <!-- th:block rather than unneeded div -->
          <td th:text="${rec.time}"></td>

          <th:block th:switch="${rec.action}">
            <div th:case="'WITHDRAW'">
              <td th:text="${rec.receipent_account}"></td>
              <td th:text="${rec.receipent_userName}"></td>
              <td th:text="-${rec.amount}"></td>

              <td th:text="${rec.sender_account}"></td>
              <td th:text="${rec.sender_userName}"></td>
              <td></td>
            </div>
            <div th:case="'DEPOSIT'">
              <td th:text="${rec.sender_account}"></td>
              <td th:text="${rec.sender_userName}"></td>
              <td></td>

              <td th:text="${rec.receipent_account}"></td>
              <td th:text="${rec.receipent_userName}"></td>
              <td th:text="${rec.amount}"></td>
            </div>
          </th:block>
        </tr>
      </tbody>
    </table>
  </body>
</html>
