<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>Register Page </h2>
    <hr/>
    <div>
        <form method="post" th:action="@{/user/register}" th:object="${user}">
            <table>
                <tbody>
                <tr>
                    <td><span>Name:</span></td>
                    <td><input size="42" th:field="*{name}" type="text"/></td>
                    <p style="color:red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p>
                </tr>
                <tr>
                    <td><span>NRIC:</span></td>
                    <td><input size="42" th:field="*{nric}" type="text"/></td>
                    <p style="color:red" th:errors="*{nric}" th:if="${#fields.hasErrors('nric')}"></p>
                </tr>
                <tr>
                    <td><span>Email:</span></td>
                    <td><input size="42" th:field="*{emailAddress}" type="text"/></td>
                    <p style="color:red" th:errors="*{emailAddress}" th:if="${#fields.hasErrors('emailAddress')}"></p>
                </tr>
                <tr>
                    <td><span>Password:</span></td>
                    <td><input size="42" th:field="*{pwd}" type="password"/></td>
                    <p style="color:red" th:errors="*{pwd}" th:if="${#fields.hasErrors('pwd')}"></p>
                </tr>
                <tr>
                    <td><span>Age:</span></td>
                    <td><input size="42" th:field="*{age}" type="number" min=18/></td>
                    <p style="color:red" th:errors="*{age}" th:if="${#fields.hasErrors('age')}"></p>
                </tr>
                <tr>
                    <td><span>Gender:</span>
                    <td>
                        <select name="gender">
                            <option th:each="genderOpt : ${T(com.example.project.model.Gender).values()}"
                                    th:value="${genderOpt}" th:text="${genderOpt}"></option>
                        </select>
                </tr>
                <tr>
                    <td><span>Birth:</span></td>
                    <td><input size="42" th:field="${user.birthDate}" type="date"/></td>
                    <p style="color:red" th:errors="*{birthDate}" th:if="${#fields.hasErrors('birthDate')}"></p>
                </tr>
                <tr>
                    <td><span>Phone:</span></td>
                    <td><input size="42" th:field="*{phone}" type="text"/></td>
                    <p style="color:red" th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}"></p>
                </tr>
                <tr>
                    <td><span>Address:</span></td>
                    <td><input size="42" th:field="*{address}" type="text"/></td>
                    <p style="color:red" th:errors="*{address}" th:if="${#fields.hasErrors('address')}"></p>
                </tr>
                <tr>
                    <td><span>Nominee NRIC (optional):</span></td>
                    <td><input size="42" th:field="*{nomineeNric}" type="text"/></td>
                </tr>

                <tr>
                    <td><span>Nominee Name (optional):</span></td>
                    <td><input size="42" th:field="*{nomineeName}" type="text"/></td>
                </tr>
                </tbody>
            </table>
            <div th:object="${accountRequest}">
                <table>
                    <tbody>
                    <tr>
                        <td><span>Account Type (Pick the option if you want to open an account now):</span></td>
                        <td><input th:field="${accountRequest.type}" type="radio" value="Fixed"/> Fixed
                        </td>
                        <td><input th:field="${accountRequest.type}" type="radio" value="Recurring"/>
                            Recurring
                        </td>
                    </tr>
                    <tr>
                        <td><input class="blcass" type="submit" value="Create"/></td>
                        <td></td>
                        <td><input class="blcass" type="reset" value="Reset"/></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
</body>
</html>