<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View News</title>
</head>
<body>
    <h1>NEWS</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody >
            <tr th:each="news : ${newsList}">
                <td th:text="${news.title}">Title</td>
                <td th:text="${news.description}">Description</td>
                <td th:text="${news.imageURL}">news.newsURL</td>
            </tr>
        </tbody>
    </table>
</body>
</html>