body {
	
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --footer-height:186px;
    margin-bottom: var(--footer-height);
    
}

.navbar {
    font-weight: 700;
}

.btn {
    border-radius: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.fa {
    vertical-align: middle;
}

.icon {
    font-weight: 700;
    vertical-align: middle;
}

.box {
    border-radius: 0;
}

.rounded {
    border-radius: 5%;
}

.circle {
    border-radius: 50%;
}

.btn.circle, .btn.rounded, .btn.box {
    padding: 0.5rem;
    line-height: 1;
}

/* Carousel component */
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.carousel{
    width: 50%;
}
/* News HTML page */
.container-fluid{
    width: 80%;
}
.card {
    flex-direction: row;
    align-items: center;
}
.card-title {
    font-weight: bold;
}
.card img {
    width: 30%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 5px;
}
.progress-bar{
    margin-top: 5rem;
    margin-bottom: 4rem;
    background-image: linear-gradient(rgb(56, 56, 56), rgb(157, 157, 157));
    text-align: left;
}
.progress-bar h1{
    padding-left: 10%;
}
@media only screen and (max-width: 768px) {
    .card-body {
        padding: 0.5em 1.2em;
    }
    .card-body .card-text {
        margin: 0;
    }
    .card{
        flex-direction: column;
    }
    .card img{
        display: none;
    }
    .carousel{
        width: 100%;
    }
}
    @media only screen and (max-width: 1200px) {
    /* .card img {
        width: 50%;
        
    } */
}